{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="shortcut icon" href="{% static 'images/instaIcon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/app/style.css' %} ">
</head>

<body>
    <section class="wraper">
        <div class="left">
            <img src="{% static 'images/instagram.png'%}" alt="phone">
        </div>
        <div class="right">
            <div class="panel login">
                <img id="logo" src="{% static 'images/insta.png' %}" alt="logo">
                <form action="login" method="POST">
                    {% csrf_token %}
                    <input class="input-box" type="text" name="username" required
                        placeholder="Phone number, email or user name">
                    <input class="input-box" type="password" name="password" required placeholder="Password">
                    <input class="button" type="submit" name="login" value="Log in">
                    <div class="divider">
                        <div class="line"></div>
                        <p>OR</p>
                        <div class="line"></div>
                    </div>
                    <a class="fb" href="#">Login with facebook</a>
                    <a class="forgot" href="#">Forgot password</a>

                </form>
            </div>
            <div class="panel signup">
                <p>Don't have account ?</p>
                <a href="/register">Sign up</a>
            </div>
            <div class="apps">
                <p>Get the app.</p>
                <div class="app-store">
                    <img src="{% static 'images/apple.png'%}" alt="apple store">
                    <img src="{% static 'images/google.png'%}" alt="play store">
                </div>
            </div>
        </div>


    </section>
    <footer class="container-footer">
        <ul>
            <li><a href="#">Meta</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Top Accounts</a></li>
            <li><a href="#">Hashtags</a></li>
            <li><a href="#">locatins</a></li>
            <li><a href="#">Instagram Lite</a></li>
            <li><a href="#">Contact Uploading & Non-Users</a></li>
            <li><a href="#">Dance</a></li>
            <li><a href="#">Food & Drink</a></li>
            <li><a href="#">Home & Garden</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Visual Arts</a></li>
        </ul>
        <ul>
            <li>English</li>
            <li>&copy; 2022 Instagram from Meta</li>
        </ul>
    </footer>
</body>

</html>