{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="shortcut icon" href="{% static 'images/instaIcon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
</head>

<body>
    <section class="wraper">
        <div class="right">
            <div class="panel login">
                <img id="logo" src="{% static 'images/insta.png' %}" alt="logo">
                <a class="fb" href="#">Login with facebook</a>
                <div class="divider">
                    <div class="line"></div>
                    <p>OR</p>
                    <div class="line down"></div>
                </div>
                
                <form action="">
                    <input class="input-box" type="text" name="user" required placeholder="mobile number, email">
                    <input class="input-box" type="text" name="first_name" required placeholder="first name">
                    <input class="input-box" type="text" name="username" placeholder="username" >
                    <input class="input-box" type="password" name="password" placeholder="password">
                    <input class="input-box" class="button" type="submit" name="signup" value="signup">
                   
    
                    
                </form>
            </div>
            <div class="panel signup">
                <p>Have an account ?</p>
                <a href="#">Log in</a>
            </div>
            <div class="apps">
                <p>Get the app.</p>
                <div class="app-store">
                    <img src="{% static 'images/apple.png'%}" alt="apple store">
                    <img src="{% static 'images/google.png'%}" alt="play store">
                </div>
            </div>
        </div>


    </section>
    <footer class="container-footer">
        <ul>
            <li><a href="#">Meta</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Top Accounts</a></li>
            <li><a href="#">Hashtags</a></li>
            <li><a href="#">locatins</a></li>
            <li><a href="#">Instagram Lite</a></li>
            <li><a href="#">Contact Uploading & Non-Users</a></li>
            <li><a href="#">Dance</a></li>
            <li><a href="#">Food & Drink</a></li>
            <li><a href="#">Home & Garden</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Visual Arts</a></li>
        </ul>
        <ul>
            <li>English</li>
            <li>&copy; 2022 Instagram from Meta</li>
        </ul>
    </footer>
</body>

</html>